{% extends 'base.html' %}

{% block title %}Dispositivos - EcoEnergy{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>Listado de Dispositivos</h2>
    <hr>

    <form method="get" class="mb-3">
        <div class="input-group">
            <select name="category" class="form-select">
                <option value="">Todas las categorías</option>
                {% for category in categories %}
                <option value="{{ category.id }}" {% if category.id == marked_category %}selected{% endif %}>
                    {{ category.name }}
                </option>
                {% endfor %}
            </select>
            <button class="btn btn-primary" type="submit">Filtrar</button>
        </div>
    </form>

    <table class="table">
        <thead>
            <tr><th>Nombre</th><th>Categoría</th><th>Zona</th><th>Detalle</th></tr>
        </thead>
        <tbody>
            {% for device in devices %}
            <tr>
                <td>{{ device.name }}</td>
                <td>{{ device.category.name|default:"Sin categoría" }}</td>
                <td>{{ device.zone.device_zone }}</td>
                <td><a href="{% url 'monitoreo:device_details' device.id %}" class="btn btn-sm btn-info">Ver Detalle</a></td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4">No se encontraron dispositivos.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
